html ,body{
    max-width: 1440px;
    font-family: Verdana;
    overflow-x: hidden;
    margin: 0  auto ;
}
.container{
    width: 90%;
    margin: 0 auto;
}

header{
    width: 100%;
    position: relative;
    margin-bottom: 40px;
}
.second-header{
      display: none;  
}

.header-container {
    margin: 0 auto;
    width: 100%;
    padding-top: 10px;
}

.header-top{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.header-top ul li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 40px;   
}

.header-top ul li a{
    color: black;
    list-style: none;
    text-decoration: none;
}

.header-top .logo {
    height: 70px;
}

.detaille{
    background-color: #fe142f;
    border-radius: 5px;

    text-decoration: underline;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 230px;
    height: 50px;
    color: white;
    font-size: 1.15em;
}

main{
    width: 100%;
    height: 600px;
    position: relative;
}

.main-container{
    width: 95%;
    height: 100%;
    margin-top: 0 auto;
}

.main-text{
    position: absolute;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding:0 4%;
    width: 100%;
    height: 100%;
    top: 0;
}
.title{
    font-size: 4em;
}
.body{
    width: 35%;
    font-size: 1.3em;
}

.btn-a{
    color: whitesmoke;
    background-color: #fe142f;
    width: 170px;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-size: 1.15em;
}
.btn-b{
    color: whitesmoke;
    background-color: #fe142f;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-size: 1.15em;
    margin: 0 auto;
}
.btn-e{
    display: none;
}
.main-background-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 0 0px 14px 0;
    box-shadow:  6px 6px  15px burlywood; 
    
}

.image-background{
    width: 60%  ;
    height: 100%;
}

.black-background{
    width: 40% ;
    height: 100%;
    background-color: #232323;
    border-radius: 12px 0 0 12px;
    object-fit: cover;
}

.imageGame1{
    width: 100% ;
    height: 100%;
    border-radius: 0 10px 12px 0;
    margin-left: 0;
    padding-left: 0;
    object-fit: cover;
    background: linear-gradient(blue, pink);
}

.footer{
    
}
.copyrigth{
    margin-top: 5%;
    margin-left: 3%;
    color: #fe142f;
}

.modale-container{
    visibility: hidden;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1000;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.15);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.9px);
    -webkit-backdrop-filter: blur(5.9px);
}


.modale-content{
   position: fixed;
   width: 28%;
   height: 95%;
   top:3%;
   left: 39%;
   border-radius: 7px;
   background-color: #232323;
}
.modale {
    width: 100%;
    height: 100%;
    position: relative;
}
.modale-form {
    /*margin-top: 6%;*/
    /*padding: 0 5%;*/
    margin: 6% auto;
    justify-content: start;
    width: 90%; 
}
.thanks-modale {
   
    padding: 80% 0 ;
    justify-content: center;
    width: 100%; 
    
}
.thanks{
    color: white;
    width: 100%;
    height: 200px;
}

.inpuText {
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 5%;
    margin-top: 2%;
    padding: 0;
    border: none;
}

.label-text {
    display: block;
    text-align:start ;
    width: 100%;
    margin-bottom: 4%;
    color: white;
    font-size: .7em;
}
.label-radio{
    color: white;
    font-size: .8em;
    display: flex;
    align-items: center;
    height: 15%;
    
}

.imput-radio{
    color: white;
    width: 20px;
    height: 20px;
}
.imput-radio:checked{
    background-color: red;
}
.checkbox-group{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 6%;
}

.imput-checkbox{
    width: 0px;
    height: 0px; 
}
.checkmark{
    height: 25px;
    width: 25px;
    background-color: #eee;
}
.label-checkbox{
    display: flex;
    text-align: start;
    color: white;
    padding-bottom: 2%;
}
.button-group{
    display: flex;
    text-align: center;
    
}

.radio-group{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin-bottom: 5%;
}
.close-button {
    float: right;
    width: 2rem;
    line-height: 1.7rem;
    font-size: large;
    text-align: center;
    cursor: pointer;
    border-radius: 30px;
    color: white;
  }
  .close-button:hover {
    background-color: rgba(255, 255, 255, 0.15);;
  }
  .svg{
    display: none;
  }

  @media (max-width: 768px ) {
    header{
        z-index: 10001;
    }
    .modale-content{
        position: fixed;
        width: 50%;
        height: 85%;
        top:9%;
        left: 30%;
        border-radius: 7px;
        background-color: #232323;
     }
    .main-container{
        width: 100%;
    }
    .header-top ul li {
        display: none;
    }
    .main-background-container{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 60%;
        border-radius: 0 0px 14px 0;
        box-shadow:  6px 6px  15px burlywood; 
        
    }
    .black-background{
        display: none;
    }
    .image-background{
        width: 100%;
    }
    .imageGame1{
        border-radius: 12px 10px 12px 12px;
    }

    .main-text{
        position: relative;
        color: black;
        display: block;
        flex-direction: unset;
        justify-content: unset;
        padding:0 ;
        width: 90%;
        height: 30%;
        top: 0;
    }
    .title{
        margin: 0 ;
        padding: 0;
        width: 100%;
        height: 40%;
        margin-bottom: 37px;
        font-size: 2.7em;
    }
    .body{
        width: 100%;
        margin: 0;
        font-size: 1.3em;
    }
    .btn-a{
        display: none;
    }
    btn-e-content{
        
    }
    .btn-e{
        display: block;
        color: whitesmoke;
        background-color: #fe142f;
        width: 170px;
        height: 50px;
        border: none;
        border-radius: 5px;
        font-size: 1.15em;
        margin: 40px auto;
    }
    .footer{
        margin-top: 15%;
    }
    .copyrigth{
        width: 50%;
        margin: 20px auto ;
        color: #fe142f;
    }
    .second-header-collapse{
        display: block;
        background-color:#232323;
    }
    
    .second-header-collapse ul li a{
        text-decoration: none;
        color: #eee;
        font-size: 1.15em;
    
    }
    .second-header-collapse ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    .second-header-collapse ul li{
        justify-content: center;
        text-align: center;
        width: 100%;
        height: 50px;
        border-bottom: 1px solid #eee;

    }
    .svg{
        display: block ;
        height: 40px;
    }
    
  }





